@charset "UTF-8";
/*=====================================================
# setting
=====================================================*/
/*=====================================================
# plugins
=====================================================*/
/*=====================================================
# base
=====================================================*/
html {
  font-size: 62.5%;
}

body {
  font-family: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #333;
}

a:hover {
  opacity: .7;
  transition: .3s;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.inner {
  width: 1100px;
  max-width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

@media (min-width: 1100px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.section-wrapper {
  padding: 60px 0;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-ttl {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.link-btn {
  color: #fff;
  background-color: #000;
  width: 160px;
  line-height: 36px;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.gray-bg {
  background-color: #f2f2f2;
}

input, textarea {
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  width: 100%;
}

/*=====================================================
# mixin
=====================================================*/
/*=====================================================
# module
=====================================================*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
}

@media (min-width: 1100px) {
  .header {
    top: 0;
    box-sizing: content-box;
    border-bottom: 1px solid #333;
  }
}

@media (max-width: 1099px) {
  .header {
    bottom: 0;
    box-sizing: content-box;
    border-top: 1px solid #333;
  }
}

.header .inner {
  display: flex;
  align-items: center;
  height: 50px;
}

.header-logo a {
  display: block;
}

.header-wrap {
  display: flex;
}

@media (min-width: 1100px) {
  .header-wrap {
    margin-left: auto;
  }
}

@media (max-width: 1099px) {
  .header-wrap {
    margin: 0 auto;
  }
}

.header-nav {
  font-size: 2.3rem;
  height: 50px;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-nav-item a {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all .3s;
}

.header-nav-item a:hover {
  background-color: #b2b2a2;
  opacity: .9;
}

.header-nav-item a .icon {
  color: #6d7973;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .header-nav-item a .icon {
    margin-right: 0;
  }
}

.header-nav-item a span {
  font-weight: bold;
}

.header .toggle {
  margin-left: 30px;
}

.header .toggle-button {
  color: gray;
  height: 30px;
  padding: 5px 0;
}

.header .toggle-show {
  display: none;
  position: absolute;
  top: 30px;
  right: 40px;
  transition: all .3s;
}

.header .toggle-show.is-active {
  display: block;
}

.header .toggle-show .logout-button {
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

@media (min-width: 1100px) {
  main {
    margin-top: 50px;
  }
}

@media (max-width: 1099px) {
  main {
    margin-bottom: 50px;
  }
}
