@charset "UTF-8";

/*=====================================================
# setting
=====================================================*/
@import "includes/setting";
/*=====================================================
# plugins
=====================================================*/
////////_swiper.css//////////

/*=====================================================
# base
=====================================================*/
@import "includes/base";
/*=====================================================
# mixin
=====================================================*/
/////////_btn.scss///////////


/*=====================================================
# module
=====================================================*/
//////////_header.scss///////////

@import "includes/header";


.skill-add {

  &-select {
    display: block;
    width: 60vw;
    margin: 30px auto 0;
    
  }

  &-btn {
    max-width: 100px;
    margin: 0 auto;

    input {

    }
  }
}