@charset "UTF-8";

/*=====================================================
# setting
=====================================================*/
@import "includes/setting";
/*=====================================================
# plugins
=====================================================*/
////////_swiper.css//////////

/*=====================================================
# base
=====================================================*/
@import "includes/base";
/*=====================================================
# mixin
=====================================================*/
/////////_btn.scss///////////



/*=====================================================
# module
=====================================================*/
//////////_header.scss///////////

@import "includes/header";

.talk {

  .friends {

    &-list {

    }

    &-item {

    }

    &-img {
      width: 60px;
      height: 60px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &-name {
      margin-left: 20px;
    }
  }
}