@charset "UTF-8";

/*=====================================================
# setting
=====================================================*/
@import "includes/setting";
/*=====================================================
# plugins
=====================================================*/
////////_swiper.css//////////

/*=====================================================
# base
=====================================================*/
@import "includes/base";
/*=====================================================
# mixin
=====================================================*/
/////////_btn.scss///////////

/*=====================================================
# module
=====================================================*/
//////////_header.scss///////////

@import "includes/header";

.talk {
    .friends {
        border-right: 2px solid #333;
        height: calc(100vh - 50px);
        overflow-y: scroll;
        padding: 0;

        &-ttl {
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            margin-top: 30px;
        }

        &-img {
            width: 60px;
            height: 60px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        &-name {
            margin-left: 20px;
        }
    }

    // 右側
    &-friend {
        padding-right: 2vw;
        position: relative;

        &-top {
            &-ttl {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 30px;
                padding-bottom: 30px;
                position: relative;
                background-color: rgba($color: #e8d3ca, $alpha: 0.7);

                .back {
                    transform: translateY(0);
                    position: absolute;
                    left: 0;
                }

                p {
                    font-size: 3rem;
                    font-weight: bold;
                }
            }
        }

        &-middle {
            margin-left: -15px;
            margin-right: -5px;
            padding: 30px;
            height: calc(100vh - 50px - 90px - 10vh);
            overflow-y: scroll;

            .talk-own {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 20px;

                &-head {
                    align-self: flex-end;

                    &-yet {
                        font-size: 1.4rem;
                    }

                    &-time {
                        font-size: 1.2rem;
                    }
                }

                &-content {
                    margin-left: 5px;
                    background-color: #bad3ff;
                    padding: 0.4em 0.8em;
                    border-radius: 20px;
                    position: relative;

                    &::after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 20px 0 0 15px;
                        border-color: transparent transparent transparent
                            #bad3ff;
                        position: absolute;
                        top: 0px;
                        right: -8px;
                        transform: rotate(80deg);
                    }

                    &-txt {
                        white-space: wrap;
                        overflow-wrap: anywhere;
                        font-size: 1.8rem;
                    }
                }
            }

            .talk-opponent {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 20px;

                &-img {
                    margin-right: 10px;

                    img {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                &-body {
                    margin-left: 13px;
                    background-color: #fff;
                    padding: 0.4em 0.8em;
                    border-radius: 20px;
                    position: relative;

                    &::after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 20px 0 0 15px;
                        border-color: transparent transparent transparent #fff;
                        position: absolute;
                        top: -7px;
                        left: -7px;
                        transform: rotate(-50deg);
                    }

                    &-txt {
                        white-space: wrap;
                        overflow-wrap: anywhere;
                        font-size: 1.8rem;
                    }
                }

                &-footer {
                    margin-left: 5px;

                    &-time {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        &-bottom {
            position: absolute;
            bottom: 0;
            left: 5vw;
            right: 6vw;

            textarea {
                height: 10vh;
            }
        }
    }
}
